.inputImageForm {
    display: flex;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
    border: solid 3px black;
    background: white;
    height: 140px;
}

.form-element {
    margin: auto;
    text-align: center;
}

.form-element p {
    font-family: 'Consolas', Courier, monospace;
    margin: 5px;
}

input {
    width: 30vw;
    height: 40px;
    border: solid 2px black;
}

button {
    height: 40px;
    width: 10vw;
    background: blueviolet;
    font-family: 'Consolas', Courier, monospace;
    color: white;
    cursor: pointer;
}

button:hover{
    background: rgb(138, 43, 226, 0.5);
}

button:disabled{
    background: rgb(138, 43, 226, 0.2);
}



@media only screen and (max-width: 700px) {
    .inputImageForm {
        margin-left: 2vw;
        margin-right: 2vw;
    }


    input {
        width: 60vw;
    }

    button {
        width: 30vw;
     
    }
  }