.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


#nav-item {
    margin: 10px;
    text-decoration: underline;
    font-family: 'Consolas', Courier, monospace;
    font-size: 25px;
    cursor: pointer;
}