.App {
        background: -webkit-linear-gradient(left, #FFFFFE 20px, transparent 1%) center, -webkit-linear-gradient(#FFFFFE 20px, transparent 1%) center, #9192FB;
    background: linear-gradient(90deg, #FFFFFE 20px, transparent 1%) center, linear-gradient(#FFFFFE 20px, transparent 1%) center, #9192FB;
    background-size: 22px 22px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}